<body>
  <div class="container">
  	<% if flash[:notice] %>
  		<div class="flash">
  		  	<%= flash[:notice] %>
  		</div>
  	<% end %>
    <div class="row">
      <div class="col-xs-3">
      <%= render 'users/user_info' %>
      <%= render 'users/list', book: @book %>
      </div>
        <div class="col-xs-9">
          <h1>Users</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg",size:"30x30" %>
                  </td>
                  <td> <%= user.name %></td>
                  <td> <%= link_to "Show", user_path(user.id),class: "user_#{user.id}" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @users, class: "pagination" %>
        </div>
      </div>
  </div>
<body>
