<body>
  <div class="container">
  	<% if flash[:notice] %>
  		<div class="flash">
  		  	<%= flash[:notice] %>
  		</div>
  	<% end %>
    <div class="row">
      <div class="col-xs-3">
        <div class="user-info">
      	<h1>User Info</h1>
      	    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
            <table class="table">
              <tbody>
                <tr>
                  <th>name</th>
	              <td>
                    <%= current_user.name %>
                  </td>
                </tr>
                <tr>
                  <th>introduction</th>
                  <td>
                    <%= current_user.caption %>
                  </td>
                </tr>
              </tbody>
            </table>
            <%= link_to edit_user_path(current_user.id), class: "edit_user_#{current_user.id}" do %>
            <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </button>
            <% end %>
        </div>
      <%= render 'users/list', users: @users %>
      </div>
        <div class="col-xs-9">
          <h1>Users</h1>
          <table class="table">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td>
                  <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg",size:"30x30" %>
                </td>
                <td> <%= user.email %></td>
                <td> <%= link_to "Show", user_path(user.id),class: "show_#{user.id}" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
<body>
