<!DOCTYPE html>
<html>
<head>
	<meta chaeset="utf8">
</head>
<body>
  <div class="container">
	<section class="edit-box">
  		<h1>Editing Book</h1>
  		<%= form_for(@book) do |f| %>
      <div class="row">
  		    <h4 class="edit-title">Title</h4>
          <%= f.text_field :title, class: "book_title" %>
      </div>
      <div class="row">
  			<h4 class="edit-body">Body</h4>
        <%= f.text_area :category, class: "book_body" %>
      </div>
  			<%= f.submit 'Update Book' %>

  		<% end %>

  		<%= link_to "Show", book_path(@book), class: "book_#{@book.id}" %>
  		<%= link_to "Back", books_path, class: "back" %>
  	</section>
</body>
</html>